doctype html
html(lang='en')

head
    title= title
    include partials/head.pug
    link(rel='stylesheet', href='/stylesheets/chat.css')

body
    h1= title
    p Welcome to #{title}
    p User authenticated!!! Username: #{user.username}

    div(id='lobby-chat')
        div(id='chat-window')
            div(id='output')
            div(id='feedback')
        input(id='message', type='text', placeholder='Message', style='color: black')
        button(id='send') Send

    script.
        const username = '#{user.username}'
        const user_id = '#{user.user_id}'
    script(src='/javascripts/chat.js')